*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0;
}
body::before{
    opacity:0.8;
    height: 100%;
    z-index: -1;
    content:"";
    width:100%;
    top:0px;
    position: absolute;
    background: url('/static/pexels-olly-3757954.jpg') no-repeat center fixed;
    

        
}


nav{
    background-color:#5d5555;
    padding: 12px 12px;
}
ul{
    display:flex;
    flex-direction: row;
}
li{
    list-style: none;
    padding:3px 17px;
}
a{
    text-decoration: none;
    color:azure;

}
.container{
    margin:50px 0px;
    
    max-width: 80%;
    
}
input,textarea{
    display:block;
    padding:5px;
    margin:15px auto;
    width:60%;
    outline:none;
    border-radius: 3px;
    border:2px solid rgb(68, 15, 15);
    border-radius: 8px;
}
h2{
    text-align: center;
    color:rgb(14, 8, 53);
}
.btn{
    margin:6px auto;
    display: block;
    padding: 5px 12px;
    background-color: rgb(233, 222, 222);
    font-weight: bold;
    border-radius: 9px;
    font-size: 24px;
}